/* src/App.css */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #fdf6f1;
}

.content {
  flex: 1;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  font-family: "Patrick Hand", cursive;
}

/* Optional: set fonts for headings separately */

