/* src/App.css */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #fdf6f0;
}

.content {
  flex: 1;
}

body {
  font-family: "Shadows Into Light"; /* or your preferred font */
  margin: 0;
  padding: 0;
}

/* Optional: set fonts for headings separately */
h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  font-family: "Patrick Hand", cursive;
}
